body {
    margin: 0;
    background-color: #26292f !important;
    color: white !important;
}

.alert-danger {
    background-color: #eb4646 !important;
    color: white !important;
    border: none !important;
}

.alert-success {
    border: none !important;
    background-color: #68b684 !important;
    color: white !important;
}

.alert-toast {
    position: absolute !important;
    top: 2rem !important;
    right: 2rem !important;
    z-index: 998 !important;
}

.modal-header {
    border: none !important;
}

.modal-content {
    background-color: #1b1e22 !important;
}

.modal-footer {
    border-color: #26292f !important;
}

.btn-toast {
    position: absolute !important;
    bottom: 2rem !important;
    right: 2rem !important;
    z-index: 998 !important;
}

.btn-success {
    border-color: #68b684 !important;
    background-color: #68b684 !important;
}

.btn-success:hover {
    border-color: #569e70 !important;
    background-color: #569e70 !important;
}

.form-control {
    background-color: #1b1e22 !important;
    border: none !important;
    box-shadow: 0px 1px 3px #1b1e22;
    color: #d2d2d2 !important;
}

textarea:focus,
input:focus,
input[type]:focus,
.uneditable-input:focus {
    box-shadow: 0px 1px 3px #1b1e22;
}

.card {
    background-color: #1b1e22 !important;
    border: none !important;
    box-shadow: 0px 1px 3px #1b1e22;
}

.card-subtitle {
    color: #d2d2d2 !important;
    font-weight: 400 !important;
}

.team-color {
    height: 50px;
    width: 50px;
    border-radius: 4px;
    box-shadow: 0px 1px 3px #1b1e22;
}

.table {
    color: white !important;
}

th {
    text-align: center !important;
}

.map {
    height: 100vh !important;
    width: 100% !important;
}

.leaflet-div-icon {
    background: transparent !important;
    border: none !important;
}

.leaflet-control-zoom,
.leaflet-control-attribution {
    display: none;
}

.leaflet-popup-content-wrapper,
.leaflet-popup-tip {
    background-color: #26292f !important;
    color: white;
}
